@font-face {
    font-family: 'Averta', sans-serif;
    src: url(http://fonts.cdnfonts.com/css/averta-blackitalic);
}
.navbar{
    background-color: #ffffff;
    position: sticky;
}
.navbar .navbar-nav .nav-link:hover {
    color: #000000;
  }
  .navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
  }
  @media only screen and (min-width: 992px) {
    .navbar {
      padding: 0;
    }
    .navbar .navbar-brand {
      padding: 0 0.7em;
    }
    .navbar .navbar-nav .nav-link {
      padding: 1em 0;
    }
    .navbar .navbar-nav .nav-item {
      margin: 0 1em;
    }
  }
  .navbar .navbar-nav .nav-item {
    position: relative;
  }
  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #e7332b;
    width: 0%;
    content: "";
    height: 4px;
  }
  .navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
  }
nav .btn{
    background-color: #e7332b;
    color: #fff;
    border-radius: 0;
    border-bottom-right-radius: 10px;
  }
.row{
    margin: auto;
  }
#hero{
    background-color: #ffffff;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: #161617; 
    padding-top: 150px;
    padding-bottom: 0;
    margin: auto;
    padding-left: 6%;
    padding-right: 6%;
   
}
.text-box h1{
    font-weight: 700;
    font-size: 42px;
}
.text-box p{
    font-family: Graphik;
    padding: 15px 0px 0px;
    font-size: 20px;
    color: #787878;
}
.styled-text{
    color: #e7332b;
    font-size: 42px;
}
.col-sm-4{
    transform: translateY(-100%);
    float: right;
    margin-left: 100%;
}
.text-box button{
    margin: 0px 15px 0px 0px;
    font-size: 20px;
    color: #fff;
    padding: 8px 25px;
    background-color: #e7332b;
    border-radius: 0;
    border-bottom-right-radius: 10px;
    border: none;
}
.text-box  .btn-2{
    background-color: #585858;
}
.section-One-img {
    width: 100%;
    height: 356px;
}
#section-One{
    background-image: url(images/backgroundImages/bgsection2.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}
.flag-box{
    display: inline-flex;
}
.flag-box img{
    margin: 6px;
    padding: 19px 0px 0px;
}
#section-two{
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}
#skillsBtn{
    margin: 15px;
    background-color: #ffffff !important;
    border: none;
    color: #585858;
    font-size: 16px;
    box-shadow:  10px 10px -10px 1px  rgba(225, 225, 225, 0.7);
}
#skillsBtn:hover{
    transform: translateY(-50%);
    transition-duration: 3s;
    box-shadow:  10px 10px 10px 1px  rgba(225, 225, 225, 0.7);
}